
$linkColor:#fff; // link Color;

$contentColor:#fff; // Body Content Color

$headerColor:#fff; //Header Color

$contentFont:'Fira Sans Regular', sans-serif; // Content Font

$headerFont: 'Fira Sans Medium',sans-serif; // Header Font

$bgColor: #a9d9e8;

$inputBGColor:$bgColor;



